@import '../../../styles/styles';
@import '../../../styles/mixins';

.bio-text {
  max-width: 550px !important;
  justify-self: flex-start;

  margin: 0;
  padding: 0px 15px;
}

.contact-info {
  background-color: $primary-color;
}

.bio-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  margin: 50px;

  .btn-secondary {
    @include buttons(10px 15px, 10px 15px 0px 0px, $primary-color, $secondary-color);
    font-family: $button-font;
    list-style-type: none;
    box-shadow: 5px 5px #000;
    text-align: center;
    text-transform: none;
    letter-spacing: .1em;
    border-radius: 0;

    a {
      color: $secondary-color;
      font-size: 1em;

      text-decoration: none;
    }
  }

  .btn-secondary:hover {
    cursor: pointer;

    border-color: $secondary-color;
    color: $secondary-color;
    background-color: $primary-color;
    box-shadow: 2px 2px $secondary-color;
  }

  .profile-pic {
    justify-self: flex-end;

    margin: 0;
    padding: 0px 15px;
    
    img {
      max-width: 510px;
      border: 2px solid $secondary-color;
  
      padding: 0;
      margin-bottom: 25px;
    }

    .contact-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  p {
    border: 2px solid $secondary-color;
    padding: 20px;
    margin: 0px 15px 0px 15px;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1em;
    font-weight: 500;
    font-family: $secondary-font;
  }
}

// Tablet

@media only screen and (max-width: 960px) {
  .bio-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    margin: 40px 0px 0px 0px;
    padding: 0;

    .profile-pic {
      justify-self: center;

      img {
        max-width: 500px;
      }
    }

    .bio-text {
      justify-self: center;

      margin-top: 50px;
    }
  }
}

// Phone

@media only screen and (max-width: 487px) {
  .bio-section {
    margin-top: 10px;

    .bio-text {

      .fa-camera-retro,
      .fa-pencil-alt,
      .fa-envelope {
        background-color: $secondary-color;
        padding: 10px;
        border-radius: .2em;
      }

      margin: 30px 0px 50px 0px;
      padding: 0;
    }
  }
}
