@import '../../../styles/styles';
@import '../../../styles/mixins';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.landing-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;

  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  .button-group {
    display: flex;
    justify-content: center;
  }

  nav {
    grid-row: 2;

    @include colorMode($secondary-color, $primary-color);

    margin: 0 auto;
    padding: 50px 50px 30px 50px;

    border: 5px solid #000;
    box-shadow: 7px 7px #000;

      .socials {
        justify-self: flex-start;
        align-items: flex-start;
      }

      h1 {
        text-align: center;
        color: $primary-color;
        font-family: $primary-font;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 4.8em;
        margin: 0px 0px 25px 8px;
      }

      h3 {
        font-family: $secondary-font;
        text-align: center;
        font-size: 1.3em;
        color: $primary-color;
        padding: 0px 0px 30px 0px;
        margin: 0;
      }

      ul {
        padding: 0;
        font-size: 1.2em;
        letter-spacing: .1em;
      }

      li {
        @include buttons(10px 15px, 0px, $secondary-color, $primary-color);
        box-shadow: 5px 5px #000;

        list-style-type: none;
        font-family: $button-font;

        margin: 15px;
      }

      li:hover {
        cursor: pointer;
        box-shadow: none;

        background-color: $shadow-color;
        border-color: $shadow-color;
      }
  }

  footer {
    justify-self: flex-end;
    align-self: flex-end;

    font-family: $secondary-font;

    padding: 0px 50px 25px 0px;
  }
}
