@import '../../../styles/styles';
@import '../../../styles/mixins';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  @include background;
}

/* Socials */

.socials {
  text-align: center;
  padding-top: 50px;
  font-size: 2em;

  .fab {
    @include buttons(5px 10px, 10px, $primary-color, $secondary-color);
  }

  .fab:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
}

/* Navigation */

.button-group {
  display: flex;
  justify-content: center;
}

.landing-page {
  margin: 0 auto;
  max-width: 880px;
  position: absolute;
  left: 50px;
  right: 50px;
  top: 32%;

    h1 {
      text-align: center;
      color: $primary-color;
      font-family: $primary-font;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 4.8em;
      margin: 0px 0px 0px 8px;
    }

    h3 {
      font-family: $secondary-font;
      text-align: center;
      font-size: 1.3em;
      color: $primary-color;
      padding: 0px 0px 5px 0px;
      margin: 0;
    }

    ul {
      padding: 0;
      font-size: 1.2em;
      letter-spacing: .1em;
    }

    li {
      @include buttons(10px 15px, 20px, transparent, $primary-color);
      list-style-type: none;
      font-family: $button-font;
    }

    li:hover {
      box-shadow: none;
      background-color: $secondary-color;
      border-color: $secondary-color;
      cursor: pointer;
    }
}
