@import '../../../styles/styles';
@import '../../../styles/mixins';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Desktop

.landing-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;

  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  nav {
    @include colorMode($secondary-color, $primary-color);

    margin: 0 auto;
    padding: 45px 45px 30px 45px;

    border: 5px solid #000;
    box-shadow: 7px 7px #000;

      .ryan-beiden {
        align-self: center;
        justify-self: center;

        h1 {
          text-align: center;
          color: $primary-color;
          font-family: $primary-font;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: .05em;
          font-size: 4.8em;

          margin: 0;
          padding: 0;
        }
      }

      h4 {
        text-align: center;
        font-family: $secondary-font;
        font-size: 1.3em;
        color: $primary-color;

        padding: 0px 10px;
      }

      .nav-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        font-size: 1.2em;
        letter-spacing: .1em;

        li {
          align-self: center;
          justify-self: center;
          text-align: center;

          @include buttons(10px 15px, 0px, $secondary-color, $primary-color);
          border-color: #000;
          font-family: $button-font;
          list-style-type: none;
          box-shadow: 5px 5px #000;

          margin: 15px;
        }

        li:hover {
          cursor: pointer;

          background-color: $shadow-color;
          box-shadow: 2px 2px #000;
        }
      }
  }

  footer {
    justify-self: flex-end;
    align-self: flex-end;

    p {
      font-family: $secondary-font;
      color: $primary-color;

      margin: 0px 30px 30px 0px;
    }
  }
}

// Tablet

@media only screen and (max-width: 768px) and (min-width: 501px) {
  .landing-container {
    nav {
      margin: 40px;

      h1 {
        line-height: 1em;
      }

      .ryan-info {
        padding: 10px !important;
      }

      h4 {
        margin: 8px 0px;
      }
    }
  }
}

// Phone

@media only screen and (max-width: 500px) {
  .landing-container {
    grid-template-rows: .5fr 3fr .5fr;
    height: auto;

    .github {
      align-self: flex-start;
    }

    nav {
      margin: 10px 30px 30px 30px;
      padding: 20px 30px;

      .ryan-beiden {
        h1 {
          font-size: 3.5em;
          text-align: center;
          margin-top: 15px;
        }
      }

      .ryan-info {
        padding: 5px 0px !important;
      }

      h4 {
        font-size: 1.2em;
        margin: 5px 0px;
      }

      .nav-group {
        li {
          font-size: .95em;

          margin: 10px;
        }
      }
    }

    footer {
      justify-self: center;
      align-self: center;

      p {
        margin: 10px 0px 30px 0px;
      }
    }
  }
}
