@import '../../../styles/styles';
@import '../../../styles/mixins';

.tech-table {
  width: 700px;
}

.tech-title {
  text-align: center;
  font-size: 2em;

  @include buttons(10px 15px, 0px, $secondary-color, $primary-color);
  border: none;
  font-family: $button-font;
  margin-top: 20px;
}

.progress {
  height: 33px;

  border: 2px solid #000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: whitesmoke;
  margin: 15px 0px;
  box-shadow: 5px 5px #000;
}

.tech-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;

  h2 {
    align-self: center;
    justify-self: stretch;
    text-align: center;

    font-size: 1em;
    font-family: $button-font;
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid #000; 
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
    border-right: none;
    box-shadow: 5px 5px #000;

    margin: 0;
    padding: 5px 10px;
  }

  .progress {
    align-self: flex-start;
  }

  .full {
    background-color: $shadow-color;
    border-right: 2px solid #000;
  }

  .empty {
    background-color: $primary-color;
    color: $secondary-color;

    text-align: right;
    margin-right: 25px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 995px) and (min-width: 535px) {
  .tech-container {
    grid-template-columns: 25% 75%;
  }
}

@media only screen and (max-width: 534px) {
  .tech-container {
    grid-template-columns: 40% 60%;

    h2 {
      font-size: 1em;

      padding: 10px 5px;
    }
  }
}
