@mixin buttons($padding, $margin, $background, $color) {
  padding: $padding;
  margin: $margin;
  background-color: $background;
  color: $color;
  border: 2px solid $primary-color;
  border-radius: .1em;
  text-transform: uppercase;
  transition: ease-in-out 200ms;
}


@mixin colorMode($primary, $secondary) {
  background-color: $primary;
  color: $secondary;
  border-radius: .2em;
}
