@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@500&family=Spectral:wght@600&display=swap');

$primary-font: 'Hind', sans-serif;
$secondary-font: 'Spectral', serif;
$button-font: 'Montserrat', sans-serif;

$primary-color: #FAFAFA;
$secondary-color: #5D92B2;
