@import '~bootstrap/scss/bootstrap';
@import 'styles';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

// Background Colors

body {
  background-repeat: no-repeat;
  background-size: cover;

  background-color: $secondary-color;
}

.shadow-background {
  position: absolute;
  z-index: -1;
}

// Icons

.fa-github,
.fa-home {
  color: $secondary-color;
  transition: ease-in-out 200ms;

  font-size: 2.8em;

  padding: 10px;
  margin-left: 20px;
  margin-top: 25px;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-home:hover {
  cursor: pointer;
  
  color: #000;
}

// Project Cards

.card {
  background-color: transparent;
  border: none;
  padding: 20px 0px;
}

.card-body {
  background-color: $secondary-color !important;
  border: 2px solid $primary-color;

  margin: 0;
}

.card-header {
  background-color: transparent;
  border: none;
}

// Titles

.title {
  text-align: center;
  font-size: 2em;

  @include buttons(10px 15px, 0px, transparent, $primary-color);
  border: none;
  font-family: $button-font;
  margin-top: 20px;
}

@media only screen and (max-width: 510px) {
  .fa-github,
  .fa-home {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 1.5em;

    margin-top: 0;
  }

  .fa-home,
  .fa-github {
    font-size: 2.2em;
  }
}
