@import '~bootstrap/scss/bootstrap';
@import 'styles';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

// Background Colors

body {
  background-color: $primary-color;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ryanbeiden.appspot.com/o/images%2Fryans-website-bg-slower.gif?alt=media&token=52ff78b2-ceac-4af5-a5bf-4bef7537b51d");
}

.shadow-background-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

// Icons

.fa-github,
.fa-arrow-left {
  background-color: $primary-color;
  color: $secondary-color;

  font-size: 2.8em;

  padding: 10px;
  margin-left: 20px;
  margin-top: 25px;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-arrow-left:hover {
  cursor: pointer;
}

// Project Cards

.card {
  background-color: transparent;
  border: none;
  padding: 20px 0px;
}

.card-body {
  background-color: $primary-color !important;
  border: 2px solid $primary-color;

  margin: 0;
}

.card-header {
  background-color: transparent;
  border: none;
}

// Titles

.typewriter {
  display: inline-block;
  background-color: $primary-color;
  padding: 10px;

    h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: .5em solid $secondary-color;
    font-family: $primary-font;
    font-size: 2em;
    text-transform: uppercase;
    color: $secondary-color;

    margin: 0 auto;
    padding: 0;

    animation: 
      typing 1.5s steps(16, end),
      blink-caret 1s step-end infinite;
  }
}

/* Typing effect */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Cursor effect */

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $secondary-color; }
}

// Tablet

@media only screen and (max-width: 510px) {
  .fa-github,
  .fa-arrow-left {
    margin-top: 5px;
  }
}

// Phone

@media only screen and (max-width: 425px) {
  .typewriter {
    h1 {
    font-size: 1.5em;

    margin-top: 5px;
    }
  }

  .fa-arrow-left,
  .fa-github {
    font-size: 2.2em;
  }
}
