@import '~bootstrap/scss/bootstrap';
@import 'styles';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

// Background Colors

body {
  background: linear-gradient(130deg, $shadow-color 20%, $secondary-color 10%, $secondary-color 80%, $primary-color 50%);
  // In case you want just b&w ->  background: linear-gradient(130deg, $secondary-color 50%, $primary-color 50%);
  background-repeat: no-repeat;
  background-size: cover;
}

// Icons

.fa-github,
.fa-home {
  color: $secondary-color;
  transition: ease-in-out 200ms;

  font-size: 2.8em;

  padding: 10px;
  margin-left: 20px;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-home:hover {
  cursor: pointer;
  
  color: #000;
}
