@import '~bootstrap/scss/bootstrap';
@import 'styles';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

// Background Colors

body {
  background: linear-gradient(130deg, $shadow-color 20%, $secondary-color 10%, $secondary-color 80%, $primary-color 50%);
  // In case you want just b&w ->  background: linear-gradient(130deg, $secondary-color 50%, $primary-color 50%);
  background-repeat: no-repeat;
  background-size: cover;
}

// Icons

.icons {
  position: fixed;
}

.socials {
  font-size: 2.2em;
  margin-left: 20px;
}

.home {
  font-size: 2.1em;
  margin-left: 20px;
}

.fa-github,
.fa-instagram,
.fa-home {
  @include buttons(5px 10px, 10px, transparent, $primary-color);
  // box-shadow: 5px 5px #000;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-home:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: $primary-color;
  border-color: $primary-color;
  color: $shadow-color;
}
