@import '../../../styles/styles';
@import '../../../styles/mixins';

.carousel {
  width: 400px !important;
}

.carousel-item {
  border: 4px solid $primary-color;
  border-radius: .1em;
}

.bio-section {
  padding: 150px 0px;

  p {
    border: 4px solid $primary-color;
    border-radius: .1em;
    padding: 15px;
    color: $primary-color;
    font-size: 1.2em;
    font-weight: 500;
  }
}

#extra-links {
  text-align: center;
  border: none;
  border-radius: none;
  box-shadow: none;
  color: $primary-color;
  background-color: transparent;
  font-size: 2em;
  margin: 0px;
}

#extra-links:hover {
  cursor: pointer;
  color: $secondary-color;
}
