@import '../../../styles/styles';
@import '../../../styles/mixins';

#accordionExample {
  margin-top: 15px;

  .card {
    margin: 0;
    padding: 15px 0px;
  }
}

.accordion {
  margin-bottom: 30px;
}

.drop-btn {
  @include buttons(10px 15px, 0px, $secondary-color, $primary-color);
  border-color: #000;
  font-family: $button-font;
  list-style-type: none;
  box-shadow: 5px 5px #000;

  font-size: 1.5em;
}

.drop-btn:hover {
  cursor: pointer;

  background-color: $shadow-color;
  box-shadow: 2px 2px #000;
}

.projects-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;

  margin: 0px;
  padding: 5px 0px 0px 0px;
  background-color: $secondary-color;

  img {
    border: 2px solid $primary-color;
    border-radius: .1em;
    
    padding: 0;
  }

  h2 {
    margin-bottom: 0px;
    color: $secondary-color;
    text-align: center;
    font-size: 1.4em;
    background-color: $primary-color;
  }

  h3 {
    color: $primary-color;
    font-size: 1.2em;
    text-align: center;

    margin: 15px 0px 0px 15px;
  }

  h4 {
    font-size: 1em;
    font-family: $button-font;
    text-align: center;
    margin: 5px 10px 10px 0px;
    padding: 5px 10px;
    border: 2px solid $primary-color;
    border-radius: .1em;
    background-color: $primary-color;
    color: $secondary-color;
  }

  a {
    @include buttons(10px 15px, 0px, $secondary-color, $primary-color);
    border-color: #000;
    font-family: $button-font;
    list-style-type: none;
    box-shadow: 5px 5px #000;

    text-decoration: none;
    margin: 0px 20px 0px 0px;
  }

  a:hover {
    background-color: $shadow-color;
    box-shadow: 2px 2px #000;

    cursor: pointer;
  }

  p {
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
    color: $primary-color;
    padding: 0px 15px 20px 20px;
  }
}

.used-tech {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;

  color: $primary-color;
  padding: 10px;
  margin: 0;
}

.project-data {
  padding: 0;
}

.view-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .drop-btn {
    font-size: 1.3em;
  }

  .projects-page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    p {
      padding: 0;
    }
  }

  .project-data {
    align-self: flex-start;
  }

  .view-links {
    a {
      margin: 15px 20px 15px 0px;
    }
  }

  .card-body {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 425px) {
  #accordionExample {
    margin-top: 15px;

    .card {
      margin: 0;
      padding: 5px 0px;
    }
  }

  .drop-btn {
    font-size: 1em;
  }

  .projects-page {
    h3 {
      font-size: 1.1em;

      margin: 15px 0px 0px 0px;
    }

    h4 {
      font-size: .8em;
      margin: 5px;
    }

    p {
      font-size: 1em;
    }
  }

  .view-links {
    a {
      font-size: .9em;

      margin: 10px 20px 10px 0px;
    }
  }
}
