@import '../../../styles/styles';

.tech-table {
  width: 700px;
}

.tech-title {
  text-align: center;
  padding: 60px 0px 40px 0px; 
  color: $primary-color;
  font-family: $primary-font;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size: 2em;
}
